# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# Pytest
# ==========================================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Logs
# ==========================================================

*.log
logs/*.log

# ==========================================================
# Environment Variables
# ==========================================================

.env
config/.env

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Temporary files
# ==========================================================

*.tmp
*.bak
*.swp
# ==========================================================
# Trained Model Artifacts
# ==========================================================

models/ml1/*.pkl
models/ml2/*.pkl
# ==========================================================
# AWS IoT Credentials
# ==========================================================

config/aws/iot/
